@import "../src/assets/styles/Header.scss";
@import "../src/assets/styles/Home.scss";
@import "../src/assets/styles/Popular.scss";
@import "../src/assets/styles/MovieDetails.scss";
@import "../src/assets/styles/Actors.scss";
@import "../src/assets/styles/Video.scss";
@import "../src/assets/styles/ActorDetails.scss";
@import "../src/assets/styles/ActorFilms.scss";
@import "../src/assets/styles/Search.scss";

* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
button {
  border: none;
  cursor: pointer;
}
html {
  scroll-behavior: smooth;
}
input {
  outline: none;
}
.container {
  width: 90%;
  margin: 0 auto;
}
