#header {
  padding: 30px 0;
  background: #0e155a;
  z-index: 99;
  position: sticky;
  top: 0;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    select {
      font-size: 20px;
      background: transparent;
      border: 2px solid white;
      padding: 5px 20px;
      color: white;
      border-radius: 10px;
    }
    &--nav {
      a {
        font-size: 20px;
        color: white;
        font-weight: 600;
        margin: 0 30px;
      }
    }
    &--search {
      display: flex;
      align-items: center;
      gap: 15px;
      input {
        font-size: 25px;
        padding: 6px 30px;
        background: transparent;
        border: none;
        color: white;
        border-bottom: 2px solid white;
      }
      button {
        font-size: 14px;
        text-transform: uppercase;
        background: white;
        color: #0e155a;
        padding: 10px 30px;
        border-radius: 10px;
        transition: 0.8s;
        border: 1px solid white;
        &:hover {
          transform: scale(1.1);
          background: transparent;
          color: white;
          border: 1px solid white;
        }
      }
    }
    &--dark {
      color: white;
      font-size: 30px;
      cursor: pointer;
    }
  }
}
